<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Celikoor_Semangat18.connect" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Celikoor_Semangat18.connect>
            <setting name="dbServer" serializeAs="String">
                <value>kresnayangasli.my.id</value>
            </setting>
            <setting name="dbName" serializeAs="String">
                <value>database_celikoor18</value>
            </setting>
            <setting name="dbUsername" serializeAs="String">
                <value>root_18</value>
            </setting>
            <setting name="dbPassword" serializeAs="String">
                <value>semangat18</value>
            </setting>
            <setting name="dbPort" serializeAs="String">
                <value>12788</value>
            </setting>
        </Celikoor_Semangat18.connect>
    </userSettings>
</configuration>
